---
layout: default
title: Workspace
section_id: workspace
---

<div class='full'>
	<div class='row'>
		<div class='large-12 columns'>            
            <h2 class="text-center">We build software products for all your research needs.</h2>
            <p class="mt-2">DigInG provides services and resources for computational humanities software and infrastructure
                development. In addition, DigInG programmers provide support to academic units and individual researchers seeking to extend their research into
                the computational realm.</p>
            <div class='spacing'></div>
            <div class="categories">
                <button id="app-btn" class="tabs active2" onclick="change('apps')">Applications</button>
                <button id="tool-btn" class="tabs" onclick="change('tools')">Tools</button>
                <button id="project-btn" class="tabs" onclick="change('projects')">Projects</button>
            </div>   
            <div id="apps" class="app-grid">
                {% for item in site.data.applications %}
                <a href="{{ site.url }}/{{ item.url }}" class="app-tile">
                    <img style="max-height: 100%" src="{{ item.image-color }}">
                    <div style="margin: 5px 0px 0px 10px">
                        <h4 style="margin-bottom: 10px">{{ item.name }}</h4>
                        <p style="font-size: 12px; line-height: 1.2;">{{ item.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div id="tools" class="tool-grid">
                {% for item in site.data.tools %}
                <div class="tool-tile">
                    <h4 style="margin-bottom: 10px">{{ item.name }}</h4>
                    <p style="font-size: 12px; line-height: 1.2;">{{ item.desc }}</p>
                    <a href="{{ item.url }}" target="_blank" class="read-more">Go to repository&nbsp;<i class="fa fa-external-link"></i></a>
                </div>
                {% endfor %}
            </div>

            <div id="projects" class="project-grid">
                {% for item in site.data.projects %}
                <div class="tool-tile">
                    <h4 style="margin-bottom: 10px">{{ item.name }}</h4>
                    <p style="font-size: 12px; line-height: 1.2;">{{ item.desc }}</p>
                    <a href="{{ item.url }}" class="read-more">More info&nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
                {% endfor %}
            </div>

            {% include section-header.html title="FAQs" %}

            {% for item in site.data.faqs %}
            <div class="accordion">
                    <h4 style="margin: 0;">{{ item.question }}</h4>
                    <i class="fa fa-chevron-down"></i>
            </div>
            <div class="panel">
                <p style="width: 60%; color: var(--paragraphs)">{{ item.answer }}</p>
            </div>
            {% endfor %}

            <div style="margin-top: 100px">
                {% include section-header.html title="Recent GitHub Activity" %}
    
                <table id="githubTable"></table>  
            </div>       

        </div>
    </div>
</div>    

<script>
    $(document).ready(function() {
        $("#tools").hide();
        $("#projects").hide();
    });

    function change(x) {
        $("#apps").hide();
        $("#tools").hide();
        $("#projects").hide();
        $("#tool-btn").removeClass("active2");
        $("#project-btn").removeClass("active2");
        $("#app-btn").removeClass("active2");

        if(x=='apps') {
            $("#apps").show();
            $("#app-btn").addClass("active2");
        }
        else if(x=='tools') {
            $("#tools").show();
            $("#tool-btn").addClass("active2");
        }
        else if(x=='projects') {
            $("#projects").show();
            $("#project-btn").addClass("active2");
        }
    }

    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

axios.get('https://api.github.com/orgs/diging/events')
	.then((response) => {
		data = response.data;

		$(document).ready(function() {

			let headerRow = $("<tr />")
			$("#githubTable").append(headerRow);

			headerRow.append($("<th>" + "Repository" + "</th>"));
			headerRow.append($("<th>" + "Author" + "</th>"));
			headerRow.append($("<th>" + "Message" + "</th>"));
			headerRow.append($("<th>" + "Timestamp" + "</th>"));


			for(let i = 0; i < Object.keys(data).length; i++)
			{
			
				if("PushEvent".localeCompare(Object.values(data)[i]["type"]) == 0)
				{
					let row = $("<tr />")
					$("#githubTable").append(row);

					let repo = Object.values(data)[i]["repo"]["name"];
					repo = repo.substring(7);
					
					let link = Object.values(data)[i]["repo"]["url"];
					link = link.substring(0,8) + link.substring(12, 23) + link.substring(29);
					
					row.append($('<td><a href="'+ link +'">' + repo + '</a></td>'));
					
					let author = Object.values(data)[i]["payload"]["commits"][0]["author"]["name"];
					row.append($("<td>" + author + "</td>"));
		
					let message = Object.values(data)[i]["payload"]["commits"][0]["message"];
					let asterisk = message.indexOf("\n*");
					
					if(asterisk > -1)
					{
						message = message.substring(0, asterisk);
						row.append($("<td>" + message + "</td>"));
					}
					else
					{
						row.append($("<td>" + message + "</td>"));
					}
					
					let timeStamp = new Date(Object.values(data)[i]["created_at"]);
					row.append($("<td>" + timeStamp.toString().substring(0, 24)+ "</td>"));

				}
				
				if("PullRequestEvent".localeCompare(Object.values(data)[i]["type"]) == 0)
				{
					let row = $("<tr />")
					$("#githubTable").append(row);

					let repo = Object.values(data)[i]["repo"]["name"];
					repo = repo.substring(7);

					let link = Object.values(data)[i]["repo"]["url"];
					link = link.substring(0,8) + link.substring(12, 23) + link.substring(29);
					
					row.append($('<td><a href="'+ link +'">' + repo + '</a></td>'));
					
					let author = Object.values(data)[i]["payload"]["pull_request"]["user"]["login"];
					row.append($("<td>" + author + "</td>"));
		
					let message = "Pull request " + Object.values(data)[i]["payload"]["number"] + " opened by " + author;
					row.append($("<td>" + message + "</td>"));
					
					let timeStamp = new Date(Object.values(data)[i]["created_at"]);
					row.append($("<td>" + timeStamp.toString().substring(0, 24)+ "</td>"));
				}
			
				
				}

		});
		
		
	}).catch((error) =>{
		$("#githubTable").append("We're sorry, but GitHub events could not be loaded.");å
	});

    var Theme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

    if (Theme === 'dark') {

    }

</script>