---
layout: default
title: Projects
section_id: projects
---
<style>
	table tr td{
		color: black;
		font-size: 13px;
	}

	td {
    	border: solid 2px black;
		color: black;
		background-color: #f7f7f3;
	}

	table {
		border-collapse: separate;
		border: none;
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
	}

	#cell {
		width: 5%;
	}

</style>


<div class='full'>
	<div class='row'>
		<div class='large-12 columns'>
			{% include section-header.html title="Our Projects" %}
			<div class='spacing'></div>

			<footer>
				<ul class="actions" style="text-align: center;">
					<li><a href="#software" class="button small">Software</a></li>
					<li><a href="#research" class="button alt small">Research</a></li>
				</ul>
			</footer>
			<p>Contemporary research in the field of history and philosophy of science (HPS) makes extensive use of
				textual data, images, and videos in digital formats. The increasing availability of large volumes of
				digital data has created opportunities to ask new and transformative questions about the historical
				development and conceptual foundations of science. Yet tools that enable historians and philosophers of
				science to interact with these data lag behind those available in the natural sciences.</p>
			<p>The future success of digital and computational approaches to the history and philosophy of science
				depends on forging links between computer science and the humanities. Most training programs in the
				history and philosophy of science do not impart the skills necessary to take advantage of these new
				modes of research. Similarly, computer scientists typically receive little training in the humanities,
				making it difficult to foster meaningful and productive collaborations with humanities scholars.</p>
			<p>The Digital Innovation Group bridges the divide between computer science and digital HPS research through
				collaborative development, training, and cutting-edge interdisciplinary research that pushes the
				boundaries of digital and computational HPS, and fosters computational thinking in the humanities.</p>
			<div class='spacing'></div>
		</div>
	</div>
</div>

<div class='row'>
	<div class='large-12 columns'>

		<!-- Portfolio -->
		<section>

			<header class="minor">
				<a name="software">{% include section-header.html title="Software" %} </a>
			</header>

			<section>
				<p>DigInG provides services and resources for computational humanities software and infrastructure
					development. In addition to developing and supporting the software listed below, DigInG programmers
					provide support to academic units and individual researchers seeking to extend their research into
					the computational realm.</p>
				<p>
					All of our software is open source and can be found on <a href="https://github.com/diging"
						target="_blank">GitHub</a>. Most projects are developed using the Mozilla Public License 2.0. We
					welcome any contributions and new users and use cases. Please get in touch with Julia
					(jdamerow@asu.edu) if you have any questions or comments.
				</p>
			</section>

			<div class="row">
				<div class='large-4 medium-4 columns'>
					{% for item in site.data.AllProjects %}
					<div class='mod modProjectPost'>
						<section class="box">
							<img id="{{ item.id }}" src="{{ item.image-color }}" />
							<p>{{ item.description }}</p>
							<footer>
								<a href="{{ item.url }}"><span
										class="icon fa-github"></span> Read more on GitHub.io</a>
							</footer>
						</section>
					</div>
					{% endfor %}
				</div>		
			</div>

			<!-- <div class="row">
											<div class='large-4 medium-4 columns'>
                        <div class='mod modProjectPost'>
												<section class="box">
													<a href="https://github.com/diging/amphora" class="image featured"><img src="/images/jarsLogo - long.png" alt="" class="grayback" /></a>
													<header>
														<h3>Amphora</h3>
													</header>
													<p>Amphora is an extremely minimalistic data repository implemented in Django. In contrast to monolithic one-stop-shop repository packages that require an army of developers to support, Amphora focuses on providing bare-minimum data and metadata storage out of the box.</p>
													<footer>
														<a href="https://github.com/diging/amphora" class="button alt"><span class="icon fa-github"></span> Check it out on GitHub</a>
													</footer>
												</section>
                        	</div>
											</div>
                    	<div class='large-4 medium-4 columns'>
                        <div class='mod modProjectPost'>
												<section class="box">
													<a href="http://sourceforge.net/p/gobtan/currentcode/490/tree/trunk/server/WordPowerPlus/" class="image featured"><img src="/images/wordpowerLogo - long.png" alt="" class="grayback" /></a>
													<header>
														<h3>Wordpower</h3>
													</header>
													<p>Wordpower is a dictionary service based on WordNet 3.0 that can be extended as needed. Wordpower is a Java web application, implemented using JavaServer Faces, that can be deployed in a servlet container such as Apache Tomcat.</p>
													<footer>
														<a href="http://sourceforge.net/p/gobtan/currentcode/490/tree/trunk/server/WordPowerPlus/" class="button alt"><span class="icon fa-code"></span> Code on SourceForge</a>
													</footer>
												</section>
                        	</div>
											</div>
                      <div class='large-4 medium-4 columns'>
                        <div class='mod modProjectPost'>
												<section class="box">
													<a href="https://diging.github.io/black-goat/" class="image featured"><img src="/images/black-goat.png" alt="" class="grayback" /></a>
													<header>
														<h3>Black Goat</h3>
													</header>
													<p>The primary objective of this project is provide a platform for non-hierarchical alignments among an unlimited number of authority systems. This is primarily intended for projects that introduce a significant number of concepts in their own namespace, a substantial proportion of which overlap with other authority systems.</p>
													<footer>
														<a href="https://diging.github.io/black-goat/" class="button alt"><span class="icon fa-github"></span> Read more on GitHub.io</a>
													</footer>
												</section>
											  </div>
                      	</div>
										</div> -->
		</section>

		<section>
			<a name="research"></a>
			{% include section-header.html title="Research" %}
			<section>
				<p>DigInG research falls under the broader research efforts of the <a
						href="http://devo-evo.lab.asu.edu/">Laubichler Lab</a> at Arizona State University. We are
					constantly looking for new and transformative research questions that can be addressed using
					computational methods.</p>
			</section>

			<!-- <div class="row">
											<div class='large-4 medium-4 columns'>
                        <div class='mod modProjectPost'>
												<section class="box">
													<a href="http://devo-evo.lab.asu.edu/genecology-project" class="image featured"><img src="/images/genecologyLogo - long.png" alt="" class="grayback" /></a>
													<header>
														<h3>The Genecology Project</h3>
													</header>
													<p>The Genecology Project is a collaborative, interdisciplinary, student-run investigation of the agro-ecological field of genecology, also known as experimental taxonomy, in post-WWII Britain. We use computational methods in conjunction with archival materials, oral histories, and social network analysis to reconstruct and contextualize the shifting patterns of collaboration and discourse among plant ecologists who engaged in genecological research.</p>
													<footer>
														<a href="http://devo-evo.lab.asu.edu/genecology-project" class="button alt">Find out more</a>
													</footer>
												</section>
                        	</div>
											</div>
                    	<div class='large-4 medium-4 columns'>
                        <div class='mod modProjectPost'>
												<section class="box">
													<a href="http://devo-evo.lab.asu.edu/investigative-pathways" class="image featured"><img src="/images/investigativePathway - long.png" alt="" class="grayback" /></a>
													<header>
														<h3>Reconstruction of Investigative Pathways</h3>
													</header>
													<p>Our ultimate goal in history of biology is to gain insights into the nature of scientific innovation. Besides analyzing conceptual transformation of knowledge systems, as we do in many of our projects, we also study the investigative pathways of researchers and research groups that have generated innovative transformations in our understanding of specific scientific problems.</p>
													<footer>
														<a href="http://devo-evo.lab.asu.edu/investigative-pathways" class="button alt">Find out more</a>
													</footer>
												</section>
                        	</div>
											</div>
                    	<div class='large-4 medium-4 columns'>
                          <div class='mod modProjectPost'>
  												<section class="box">
  													<a href="http://devo-evo.lab.asu.edu/history-developmental-evolution" class="image featured"><img src="/images/devoevo - long.png" alt="" /></a>
  													<header>
  														<h3>History of Developmental Evolution</h3>
  													</header>
  													<p>Developmental Evolution is a tradition within evolutionary biology with a very long history. It focuses on the mechanistic (cellular, developmental, genomic) causes that generate phenotypes and phenotypic variation. While it is often seen as an "alternative" to mainstream population genetics, it is in fact a complementary and necessary approach to theories of evolutionary dynamics. This project looks at the history of this tradition as a big data problem, combining the reconstruction of individual contributions and research programs with computational analysis of the conceptual dynamics of evolutionary biology at large.</p>
  													<footer>
  														<a href="http://devo-evo.lab.asu.edu/history-developmental-evolution" class="button alt">Find out more</a>
  													</footer>
  												</section>
  											</div>
                        </div>
										</div> -->
			<p><strong>Check back later for updated information on our research projects.</strong></p>
		</section>

		<section>

			{% include section-header.html title="Recent GitHub Activity" %}

			<table id="githubTable" style="border-collapse: collapse; background-color:rgba(0, 0, 0, 0);">
			</table>
			


		</section>

	</div>
</div>

<script>

	axios.get('https://api.github.com/orgs/diging/events')
	.then((response) => {
		data = response.data;

		$(document).ready(function() {

			let headerRow = $("<tr />")
			$("#githubTable").append(headerRow);

			headerRow.append($("<th>" + "Repository" + "</th>"));
			headerRow.append($("<th>" + "Author" + "</th>"));
			headerRow.append($("<th>" + "Message" + "</th>"));
			headerRow.append($("<th>" + "Timestamp" + "</th>"));


			for(let i = 0; i < Object.keys(data).length; i++)
			{
			
				if("PushEvent".localeCompare(Object.values(data)[i]["type"]) == 0)
				{
					let row = $("<tr />")
					$("#githubTable").append(row);

					let repo = Object.values(data)[i]["repo"]["name"];
					repo = repo.substring(7);
					
					let link = Object.values(data)[i]["repo"]["url"];
					link = link.substring(0,8) + link.substring(12, 23) + link.substring(29);
					
					row.append($('<td><a href="'+ link +'">' + repo + '</a></td>'));
					
					let author = Object.values(data)[i]["payload"]["commits"][0]["author"]["name"];
					row.append($("<td>" + author + "</td>"));
		
					let message = Object.values(data)[i]["payload"]["commits"][0]["message"];
					let asterisk = message.indexOf("\n*");
					
					if(asterisk > -1)
					{
						message = message.substring(0, asterisk);
						row.append($("<td>" + message + "</td>"));
					}
					else
					{
						row.append($("<td>" + message + "</td>"));
					}
					
					let timeStamp = new Date(Object.values(data)[i]["created_at"]);
					row.append($("<td>" + timeStamp.toString().substring(0, 24)+ "</td>"));

				}
				
				if("PullRequestEvent".localeCompare(Object.values(data)[i]["type"]) == 0)
				{
					let row = $("<tr />")
					$("#githubTable").append(row);

					let repo = Object.values(data)[i]["repo"]["name"];
					repo = repo.substring(7);

					let link = Object.values(data)[i]["repo"]["url"];
					link = link.substring(0,8) + link.substring(12, 23) + link.substring(29);
					
					row.append($('<td><a href="'+ link +'">' + repo + '</a></td>'));
					
					let author = Object.values(data)[i]["payload"]["pull_request"]["user"]["login"];
					row.append($("<td>" + author + "</td>"));
		
					let message = "Pull request " + Object.values(data)[i]["payload"]["number"] + " opened by " + author;
					row.append($("<td>" + message + "</td>"));
					
					let timeStamp = new Date(Object.values(data)[i]["created_at"]);
					row.append($("<td>" + timeStamp.toString().substring(0, 24)+ "</td>"));
				}
			
				
				}

		});
		
		
	}).catch((error) =>{
		$("#githubTable").append("We're sorry, but GitHub events could not be loaded.");å
	});

  //# sourceURL=theme.js
	  var Theme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

	  if (Theme === 'dark') {
	      {% for item in site.data.projects %}
	        $("#{{ item.id }}").attr('src',"{{ item.image-white }}")
	      {% endfor %}

	  }


</script>