---
title: Welcome
header: The Digital Innovation Group @ ASU
navcurrent: home
---
<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						{% include header.html %}

						{% include banner.html %}

						{% include intro.html %}

					</div>
				</div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="12u">
                            <section>
                                <header class="major">
                                    <h2>News</h2>
                                </header>
                                <div class="w3-content w3-display-container">
                                    {% for post in site.posts %}
                                    <div class="mySlides">
                                        <section class="box">
                                            <a href="{{ post.url }}" class="image featured"><img src="{{ post.feature_image }}" alt="" /></a>
                                            <header>
                                                <h3>{{ post.title }}</h3>
                                                <h4 style="color: #555;">{{ post.subtitle }}</h4>
                                                <p>{{ post.date | date: '%B %d, %Y' }}</p>
                                            </header>
                                            <p>{{ post.summary }}</p>
                                            <footer>
                                                <ul class="actions">
                                                    <li><a href="{{ post.url }}" class="button icon fa-file-text">Continue Reading</a></li>
                                                    <!-- <li><a href="#" class="button alt icon fa-comment">33 comments</a></li> -->
                                                </ul>
                                            </footer>
                                        </section>
                                    </div>
                                    {% endfor %}
                                    <!-- <div class="6u 12u(mobile)">
                                        <section class="box">
                                            <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                            <header>
                                                <h3>Aptent veroeros et aliquam</h3>
                                                <p>Posted 45 minutes ago</p>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                                            <footer>
                                                <ul class="actions">
                                                    <li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
                                                    <li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
                                                </ul>
                                            </footer>
                                        </section>
                                    </div> -->
																		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
																		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
								


			<!-- Main -->
				<!--<div id="main-wrapper">
					 <div class="container">
						<div class="row">
							<div class="12u">
									<section>
										<header class="major">
											<h2>My Portfolio</h2>
										</header>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
													<header>
														<h3>Ipsum feugiat et dolor</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
													<header>
														<h3>Sed etiam lorem nulla</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
													<header>
														<h3>Consequat et tempus</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
													<header>
														<h3>Blandit sed adipiscing</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
													<header>
														<h3>Etiam nisl consequat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
													<header>
														<h3>Dolore nisl feugiat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
									</section> -->

							<!-- </div>
						</div> -->

				</div>

		{% include footer.html %}

		{% include scripts.html %}

	</body>
</html>
