---
layout: default
section_id: home
---
<style>
  /* .transparency:hover {
    opacity: 0.5;
  } */

  .container {
    position: relative;
    width: 50%;
  }

  .image {
    opacity: 1;
    display: inline;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
</style>
<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our work" %}
      <div class="spacing"></div>
      <p><strong>DigInG Pioneering Computational Humanities.</strong> The Digital Innovation Group pushes the boundaries
        of computational analysis in the humanities by developing and deploying innovative research software and
        analytic methods.</p>
      <p>The <strong>mission</strong> of the Digital Innovation Group is to develop new tools to support HPS researchers
        in processing and analyzing their data, to contribute to the development of a computational research system for
        history and philosophy of science, and to create new educational resources, opportunities, and experiences for
        students in computer science and the history and philosophy of science.
      </p>
    </div>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our Projects" %}
    </div>
  </div>
</div>

<div style="text-align:center; background-color: #f5f5f5;">

  <div class="container" style="display: inline;" class='mod '>

    <a href="https://github.com/diging/citesphere" class="image featured"><img class="" src="/images/citesphereLogo.png"
        alt="" class="grayback" /></a>

    <div class="middle">
      <div class="text">Test</div>
    </div>

  </div>



  <div class="container" style="display: inline; padding-left: 100px;" class='mod '>

    <a href="https://github.com/diging/virtual-spaces-2.0" class="image featured"><img class=""
        src="/images/virtualSpacesLogo.png" alt="" class="grayback" style="width: 280px; height: 280px;" /></a>


    <div class="middle" style="padding-left: 100px;">
      <div class="text">Test</div>
    </div>
  </div>


</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
    </div>
  </div>

  <div class="spacing"></div>

  <div class='row'>
    {% for post in site.posts %}
    {% if forloop.index > 1 %}
    {% break %}
    {% endif %}
    <div class='big mod modBlogPost' style="min-height: 380px;">

      <div class='content' style="padding-bottom: 20px;">
        <h4><a href="{{post.url}}">{{post.title}}</a></h4>
        <p class='info'><span>{{post.date | date: "%B %d, %Y" }}</span> </p>
        <p>{% for image in post.images %}<div class='image'><img
              style="max-height: 250px; width: auto; padding:0 15px; float: left; " alt=""
              src="{{site.url}}/{{image}}" /></div>{% endfor %}</p>
        <p style="margin-top: 20px;"></p>
        <p>{{post.excerpt}}</p>
        <div class='spacing'></div>
        <a style=" margin-bottom: 45px;" class="button small" href="{{post.url}}">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog/'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='spacing'></div>

</div>

<!--<div class="tags">
  {% for cat in post.categories %}
  <a href="#">{{cat | capitalize}}</a>
  {% unless forloop.last %}
  ,
  {% endunless %}
  {% endfor %}
</div>-->