---
layout: default
section_id: home
---
<div class="full" id="generic">
  <div class="row">
    <div class="large-12 columns">
      <div class="flex-spacing">
        <div>
          <h2>Pioneering Computational Humanities</h2>
          <p>The Digital Innovation Group pushes the boundaries of computational analysis in the humanities by developing and deploying innovative research software and analytic methods.</p>
          <a href="{{site.url}}/projects/index.html"><button class="secondary-btn">View our projects<i class="fa fa-chevron-right"></i></button></a>
        </div>
        <img class="hero"  width="700px" src="/images/Hero image.png"/>
      </div>  
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div>
      {% include section-header.html title="Our mission" %}
      <div class="grid-mission">
        {% for item in site.data.mission %}
        <div>
          <img src="{{ item.image }}">
          <p style="margin: 20px 15px;">{{ item.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>      
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our projects" %}
      <div class="grid-projects">
        {% for item in site.data.projects %}
        <a href="{{ item.url }}" target="_blank">
          <div class="project-tile">
            <img src="{{ item.image-color }}">
          </div>
        </a>
        {% endfor %}
      </div>
      <a href="{{site.url}}/projects/index.html"><button class="secondary-btn" style="float: right;">View all projects<i class="fa fa-chevron-right"></i></button></a>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
    
      <div class="grid-posts">
        {% for post in site.posts %}
        {% if forloop.index > 3 %}
          {% break %}
        {% endif %}
      
        <div class="post-card">
          <div class="post-image">
            <img src="{{ post.images }}">
          </div>
          <h3>{{ post.title }}</h3>
          <h5 style="color: var(--secondary-headings); height: 25px;">{{ post.date | date: "%B %d, %Y"}}</h5>
          <p style="color: var(--paragraphs); height: 175px;">{{ post.excerpt }}</p>

          <a href="{{ post.url }}" class="read-more">Read more<i class="fa fa-chevron-right"></i></a>
        </div>

        {% endfor %}
      </div>
    
      <a href="{{site.url}}/blog/"><button class="secondary-btn" style="float: right;">View all posts<i class="fa fa-chevron-right"></i></button></a>
    </div>
  </div>

</div>

<!--<div class="tags">
  {% for cat in post.categories %}
  <a href="#">{{cat | capitalize}}</a>
  {% unless forloop.last %}
  ,
  {% endunless %}
  {% endfor %}
</div>-->
