---
layout: default
title: About
section_id: people
---


<div class='full'>
  <div class="row">
    <div class="large-12 columns">
      <a name = 'leadership'></a>

      {% include section-header.html title="our leadership" %}

      <div class="spacing"></div>
    </div>
  </div>

				<!-- Header -->

				<div id="main-wrapper">
					<div class="container">
							<div class="row">

                <!--<div class='small-6 medium-3 large-3 columns'>
									<section class="first">
										<a href="http://asu.academia.edu/erickpeirson" class="reverse-underline">
											<img class="featured border" style="  height: 220px; width: 210px; "src="/images/people/taylor.png" />
											<header class="headspace">
												<h4 style="margin-bottom: 0px;">Taylor Quinn</h4>
                        <p style="margin-bottom: 0.8rem";>Software Developer</p>
											</header>
										</a>
										<p>Taylor is a software develoer, and looks forward to developing innovation computing solutions upon graduating from ASU.</p>
									</section>
								</div>-->

                <div class='small-6 medium-4 large-4 columns'>
									<a href="#">
									<section class="middle">
										<a href="http://devo-evo.lab.asu.edu/laubichler" class="reverse-underline">
											<img class="featured border" src="/images/people/manfred.jpg" />
											<header class="headspace">

                        <h4 style="margin-bottom: 0px;">Manfred Laubichler</h4>
                        <p style="margin-bottom: 0.8rem";>Director</p>
											</header>
										</a>
										<p>Dr. Laubichler is Presidents Professor of Theoretical Biology and History of Biology at ASU.</p>
									</section>
								</div>

                <div class='small-6 medium-4 large-4 columns'>
									<section class="last">
										<a href="http://jdamerow.users.sourceforge.net/" class="reverse-underline">
											<img class="featured border" src="/images/people/julia.jpg" />
											<header class="headspace">

                        <h4 style="margin-bottom: 0px;">Julia Damerow</h4>
                        <p style="margin-bottom: 0.8rem";>Head of Development</p>
											</header>
										</a>
										<p>Julia is a software engineer focusing on the development of software for digital/computational history and philosophy of science and digital humanities. </p>
									</section>
								</div>

                <div class='small-6 medium-4 large-4 columns'>
									<section class="last">
										<a href="https://www.mpiwg-berlin.mpg.de/en/users/dwinter" class="reverse-underline" class="reverse-underline">
											<img class="featured border" src="/images/people/dirk.jpg" />
											<header class="headspace">

                        <h4 style="margin-bottom: 0px;">Dirk Wintergrün</h4>
                        <p style="margin-bottom: 0.8rem";>Department I MPIWG</p>
											</header>
										</a>
										<p>Dirk is in charge of software and infrastructure projects in Department I of the Max Planck Institute for the History of Science. </p>
									</section>
								</div>


							</div>
              <div class='two spacing'></div>

						<section class="container">
							<div class="row">
								<div class='medium-6 columns'>
									<section class="first">


                    <div class="mod modSectionHeader ">
                      <div class="special-title centered-text separateline">
                        <a name = 'developers'></a>
                        <h2 class="separate" style="font-size: x-large; color: ;">Software Developers</h2>
                        </div>

                      </div>


										<p>DigInG Software Developers are a dynamic and creative team of student engineers. Our developers work in an agile environment to create robust, beautiful, and scalable software to support computational research. Each team member cultivates a unique skillset tailored to their career goals and intellectual interests, and receives one-on-one mentorship in software engineering. <strong>The first step to becoming a DigInG Software Developer is typically to participate as a <a href="#trainees">DigInG Trainee</strong></a>. If you are interested in becoming a DigInG Software Engineer, please contact <a href="mailto:jdamerow@asu.edu">Julia Damerow (jdamerow@asu.edu)</a>.</p>

										<div class='spacing'></div>
										<div class="row" style="text-align: center;">
											<div class='medium-6 columns'>
												<section class="box">
													<img class="featured border" width="165px" src="/images/people/Abhishek.png"/>
													<header class="headspace">
														<h4>Abhishek Kumar</h4>
													</header>
												</section>
											</div>

											<div class='medium-6 columns'>
												<section class="box">
													<img class="featured border" width="165px" src="/images/people/Neeharika.png" />
													<header class="headspace">
														<h4>Neehaarika Dasari</h4>
													</header>
												</section>
											</div>



										</div>

										<div class="row" style="text-align: center;">

											<div class='medium-6 columns'>
												<section class="box">
													<img class="featured border" width="165px" src="/images/people/Namratha.png" />
													<header class="headspace">
														<h4>Namratha Olety Venkatesh</h4>
													</header>
												</section>
											</div>
										</div>


										<div class="row" style="text-align: center;">



										</div>
									</section>
								</div>
								<div class='medium-6 columns'>
									<section class="last">

                    <div class="mod modSectionHeader ">
                      <div class="special-title centered-text separateline">

                        <a name = 'researchers'></a>
                        <h2 class="separate" style="font-size: x-large;color: ;">Researchers</h2>
                        </div>

                      </div>

										<p>DigInG Researchers deploy our research tools and workflows to address a wide range of problems in the humanities, from a computational perspective. DigInG researchers come from both the sciences and humanities, and work closely with DigInG Developers to improve and extend our tools and methods. Our researchers are expected to develop and address their own research questions, based on their interests, and have the opportunity to acquire skills in computer science. <strong>The first step to becoming a DigInG Researcher is typically to participate as a <a href="#trainees">DigInG Trainee</strong></a>. If you are interested in becoming a DigInG Researcher, please contact <a href="mailto:jdamerow@asu.edu">Julia Damerow (jdamerow@asu.edu)</a>.</p>
										<div class="row" >
                    <div class='medium-6 columns'>
												<section class="box">
													<img class="featured border" width="165px" src="/images/people/erin.png" />
													<header class="headspace">
														<h4>Erin Bottino</h4>
													</header>
												</section>
											</div>
											<div class='medium-6 columns'>
													<section class="box">
														<img class="featured border" width="165px" src="/images/people/matthew.png" />
														<header class="headspace">
															<h4>Matthew Nunez</h4>
														</header>
													</section>
												</div>

												<div class='medium-6 columns'>
													<section class="box">
														<img class="featured border" width="165px" src="/images/people/Bailey.png" />
														<header class="headspace">
															<h4>Bailey Reynolds</h4>
														</header>
													</section>
												</div>

												<div class='medium-6 columns'>
													<section class="box">
														<img class="featured border" width="165px" src="/images/people/Simba.png" />
														<header class="headspace">
															<h4>Simbarashe Sithole</h4>
														</header>
													</section>
												</div>

												<div class='medium-6 columns'>
													<section class="box">
														<img class="featured border" width="165px" src="/images/people/Megan.png" />
														<header class="headspace">
															<h4>Megan Bromley</h4>
														</header>
													</section>
												</div>

										</div>
									</section>
								</div>
							</div>
						</section>

          </div>
        </div>
      </div>

  {% include alumni.html %}
  <div class='two spacing'></div>
