---
title: Hackathon
header: Get Involved
navcurrent: opportunities
---
<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{% include header.html %}

				</div>
			</div>

			<div id="main-wrapper">
				<div class="container">
					<section class="container">
						<div class="row">
							<div class="8u -2u 12u(mobile)"
								 style="background-image: url(/images/hackathon.png);
							 		    background-repeat: no-repeat;
										background-position: right top;">
								<header>
									<h2>Compete the in First Semi-Annual DigInG Hackathon!</h2>
									<h3 style="color: orange;">23-24 January, 2016</h3>
								</header>
								<ul class="actions">
									<li><a href="http://goo.gl/forms/z1tl2agVYJ" class="button small">Register Now</a></li>
								</ul>

								<!-- <img src="" class="featured 12u" style="border: 2px solid gray;"> -->

								<p>
									<strong>
									Grab three of your brightest friends, and join us for a weekend of competetive software development!
									Your team of up to four programmers will race the clock and your peers to develop a web application based on
									requirements provided at the start of the competition. At the end of the competition, awards will be given
									based on functionality, quality of design, ease of use, and documentation. High-scoring products will be
									considered for further development by the DigInG team!
									</strong>
								</p>
								<p>
									<h2>Don't delay, there are only a limited number of seats available!</h2>
								</p>
								<p>
									<strong>
									You and your teammates can choose your favorite web framework ahead of time: either Java/Spring or Python/Django.
									At the start of the competition, each team will be given a set of core and optional requirements. It's up to your
									team to decide which features to deliver, and build the product from scratch. Your team's final product will be
									featured on the DigInG website. If your product scores highly, it just might form the foundation for a real-world
									open-source product!
									</strong>
								</p>
								<p>
									<strong>
									Further details, including times and locations, will be sent to registrants via email. If you don't have a team,
									but still want to participate, just fill out the registration form; we'll pair you with other free-lancers for
									the competition.
									</strong>
								</p>
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
