---
title: Opportunities
header: Get Involved
navcurrent: opportunities
---

<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{% include header.html %}

				</div>
			</div>

			<div id="main-wrapper">
				<div class="container">
					<section class="container">
						<div class="row">
							<div class="6u 12u(mobile)">
								<header>
									<h3>Researchers and Developers</h3>
								</header>
								<p>We are regularly looking for highly-motivated graduate and upper-level undergraduate students to join our team of <a href="/people/#developers">Software Developers</a> and <a href="/people/#researchers">Researchers</a>. Additional information, including specific official job posting information, will be added here as it becomes available.</p>
								<p>For more information, please contact Julia Damerow (<a href="mailto:jdamerow@asu.edu">jdamerow@asu.edu</a>).</p>

								<!--<b>We're hiring Software Developers!</b>
								<p>We are looking for highly-motivated graduate and upper-level undergraduate students to join our team of <a href="/people/#developers">Software Developers</a>. For posting information and instructions how to apply, please consult the postings on the ASU student employment website. Please do not send individual emails to us. We can only consider applications submitted through the ASU student employment site. Simply follow the instructions below: </p>

								<ol style="list-style-type: decimal; padding-left: 15px;">
									<li>Visit <a href="https://students.asu.edu/employment/search" target="_blank">https://students.asu.edu/employment/search</a>.</li>
									<li>Click on "Search On-Campus Jobs".</li>
									<li>Click on "Search for Openings".</li>
									<li>Search for requisition ID <strong>33423BR</strong>.
									</li>
									<li>Follow the instructions listed.</li>
								</ol>-->

							</div>
							<div class="6u 12u(mobile)">
								<header>
									<h3>Other opportunities</h3>
									<!-- <h3>May 23-36: Webapp Development with Spring</h3>
								</header>

								</p>
									Are you a computer science Master’s or advanced Bachelor’s student and are excited about web development? Are you looking to get some hands-on development experience using Java and the Spring Framework? Then join us for this 4-day workshop! We will develop a small system build on the Spring Framework that communicates through Apache Kafka. Prerequisite for this workshop are good Java coding skills and the motivation to deliver a prototype by the end of the workshop.
								</p>

 							 	<p>
									<b>The details:</b><br>
									<i>When?</i>
									<br>May 23-36, 2017, 8am-5pm<br>
									<i>What to bring?</i>
									<br>A laptop with Java 8, Eclipse Neo, Apache Zookeeper, and Apache Kafka installed. Please make sure your laptop is powerful enough to run all the software at the same time.<br>
									<i>What to expect?</i>
									<br>Intros to Spring and Kafka, working with GitHub, some lectures on best practices and software development, and a lot of coding.<br>
								</p>
								<p>
									<b>Space is limited to 10 seats.</b><br>
									We especially encourage <i>women and other underrepresented groups in tech</i> to apply for this workshop.
								</p>
								<p>
									Apply here: <a href="https://goo.gl/forms/epWtopNifYJPTowj1">https://goo.gl/forms/epWtopNifYJPTowj1</a>
								</p> -->
								<p>
									We currently do not offer a course or fellow program. However, we will announce it here as soon as this changes. So check back! In the meantime, take a look at <a href="/past/#opportunities">past opportunities</a>.
								</p>
								<!--<p>We are looking for several highly-motivated graduate and upper-level undergraduate students to join our team of <a href="/people/#developers">Software Developers</a> and <a href="/people/#researchers">Researchers</a>. For posting information and instructions how to apply, please consult the postings on the ASU student employment website. Please do not send individual emails to us. We can only consider applications submitted through the ASU student employment site. Simply follow the instructions below: </p>

								<ol style="list-style-type: decimal; padding-left: 15px;">
									<li>Visit <a href="https://students.asu.edu/employment/search" target="_blank">https://students.asu.edu/employment/search</a>.</li>
									<li>Click on "Search On-Campus Jobs".</li>
									<li>Click on "Search for Openings".</li>
									<li>If you are interested in a Research Aide position, search for requisition ID <strong>24818BR</strong>. The software developer position has been closed.
									</li>
									<li>Follow the instructions listed.</li>
								</ol>-->

							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
