---
title: Opportunities
header: Get Involved
navcurrent: opportunities
---

<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{% include header.html %}

				</div>
			</div>

			<div id="main-wrapper">
				<div class="container">
					<section class="container">
						<div class="row">
							<div class="6u 12u(mobile)">
								<header>
									<h3><a href="/opportunities/workshop.html">Spring 2016: Research Methods and Software Engineering Workshop for Computational Humanities and Knowledge Systems</a></h3>
								</header>
								<h4>BIO/HPS 498/591, CSE 591</h4>
								<p>We’re looking for motivated undergraduate and early Masters/PhD students to participate in a 3-credit computational humanities research and software development workshop this fall. If you’re interested in doing research and software development at the interface of computer science and the humanities (especially history and philosophy of science), this is a great way to get training and hands-on experience in both new and established projects. We’re especially eager to recruit humanities students who wish to develop their own projects over several semesters, e.g. as part of a thesis or chapter, and computer science Masters students who are interested in developing web applications for digital humanities software.</p>
								<a href="/opportunities/spring2016.html" class="button button-primary pull-right">Read more</a>
							</div>
							<div class="6u 12u(mobile)">
								<header>
									<h3>We're Looking for Researchers and Developers!</h3>
								</header>
								<p>We are looking for several highly-motivated graduate and upper-level undergraduate students to join our team of <a href="/people/#developers">Software Developers</a> and <a href="/people/#researchers">Researchers</a>. Additional information, including official job posting information, will be added here as it becomes available.</p>
								<p>For more information, please contact Julia Damerow (<a href="mailto:jdamerow@asu.edu">jdamerow@asu.edu</a>) or Erick Peirson (<a href="mailto:erick.peirson@asu.edu">erick.peirson@asu.edu</a>).</p>
								<!--<p>We are looking for several highly-motivated graduate and upper-level undergraduate students to join our team of <a href="/people/#developers">Software Developers</a> and <a href="/people/#researchers">Researchers</a>. For information about how to apply, please consult the postings listed below.</p>
								<p>
									<h4>Current Positions</h4>
									<ul>
										<li><a href="/opportunities/posting_developer.html">Software Developer/Tester</a></li>
										<li><a href="/opportunities/posting_researcher.html">Computational Research Aide</a></li>
									</ul>
								</p>-->
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
