---
title: Opportunities
header: Software developer/tester
navcurrent: opportunities
---
<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{% include header.html %}

				</div>
			</div>

			<div id="main-wrapper">
				<div class="container">
					<section class="container">
						<div class="row">
							<div class="8u -2u 12u(mobile)">
								<header>
									<h3>Employment Opportunity: Software Engineer/Tester</h3>
								</header>
                                <table class="u-full-width">
                                    <tbody>
                                        <tr>
                                            <td>Salary Range</td>
                                            <td>$10.35 - $12.00 per hour; DOE</td>
                                        </tr>
                                        <tr>
                                            <td>Close Date</td>
                                            <td>29-September-2015</td>
                                        </tr>
                                        <tr>
                                            <td>Job Description</td>
                                            <td>We require a programmer with experience in object oriented programming (preferably Ruby or Java) and with an interest in quality assurance. This project requires regular interaction with users, short release cycles, and close collaboration with other computational HPS team members. The programmer will be responsible for extending existing software packages, for example by improving connectivity with other tools, and perform quality assurance tasks including defining and writing test cases, perform manual testing as well as setting up automatic tests. Introduction to the project and guidance will be provided; the ideal candidate will be self-motivated, autodidactic, and able to complete tasks independently.</td>
                                        </tr>
                                        <tr>
                                            <td>Essential Duties</td>
                                            <td>
                                                <ul>
                                                    <li>Write and document source code in Java, Ruby, and/or Python.</li>
                                                    <li>Manual testing of software. Writing unit and integration tests.</li>
                                                    <li>Limited server administration tasks.</li>
                                                    <li>Assist with code reviews.</li>
                                                    <li>Participate in bi-weekly (every two weeks) iteration meetings.
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Desired Qualifications</td>
                                            <td>
                                                <h4>Required</h4>
                                                <ul>
                                                    <li>Completed at least two years of undergraduate CS training.</li>
                                                    <li>Competent programming in Ruby and/or Java.</li>
                                                    <li>Experience with software design.</li>
                                                    <li>Excellent communication and teamwork skills.</li>
                                                    <li>Experience with the software development IDEs.</li>
                                                    <li>Experience with version control systems such as GitHub.</li>
                                                </ul>
                                                <h4>Preferred</h4>
                                                <ul>
                                                    <li>Graduate student in Computer Science, or equivalent training is preferred.</li>
                                                    <li>Experience with automatic testing frameworks such as Cucumber.</li>
                                                    <li>Experience with Jenkins CI.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>To apply:</td>
                                            <td>
                                                <ol>
                                                    <li>Visit <a href="https://students.asu.edu/employment/search" target="_blank">https://students.asu.edu/employment/search</a></li>
                                                    <li>Click on "Search On-Campus Jobs"</li>
                                                    <li>Click on "Search for Openings"</li>
                                                    <li>Search for requisition ID <strong>17233BR</strong></li>
                                                    <li>Follow the instructions listed</li>
                                                </ol>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
