---
title: Opportunities
header: Computational Research Aide
navcurrent: opportunities
---
<html>
	{% include head.html %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{% include header.html %}

				</div>
			</div>

			<div id="main-wrapper">
				<div class="container">
					<section class="container">
						<div class="row">
							<div class="8u -2u 12u(mobile)">
								<header>
									<h3>Employment Opportunity: Computational Research Aide</h3>
								</header>
                                <table class="u-full-width">
                                    <tbody>
                                        <tr>
                                            <td>Salary Range</td>
                                            <td>$10.35 - $12.00 per hour; DOE</td>
                                        </tr>
                                        <tr>
                                            <td>Close Date</td>
                                            <td>29-September-2015</td>
                                        </tr>
                                        <tr>
                                            <td>Job Description</td>
                                            <td>We require Research Aides to assist with computational history and philosophy of science research projects. The ideal candidate will have an interest in the history and philosophy of biological or biomedical sciences, and a desire to learn new skills. The Research Aide will perform a variety of data collection tasks including literature searches, text annotation, metadata entry, and computational analysis. The Research Aide will also work with software developers to improve research software, and assist with writing end-user documentation.</td>
                                        </tr>
                                        <tr>
                                            <td>Essential Duties</td>
                                            <td>
                                                <ul>
                                                    <li>Perform research and data entry tasks, e.g. collecting bibliographic metadata from databases, annotating texts, organizing datasets, writing metadata, digitization of documents.</li>
                                                    <li>Operate software developed by Digital Innovation Group, report bugs to developers, and make suggestions for improvements.</li>
                                                    <li>Assist in development of end-user documentation for software and research workflows.</li>
                                                    <li>Participate in regular iteration meetings.</li>
                                                    <li>Oral and written presentation of research results.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Desired Qualifications</td>
                                            <td>
                                                <h4>Required</h4>
                                                <ul>
                                                    <li>2+ years of undergraduate training in sciences or humanities</li>
                                                    <li>Excellent oral and written communication skills</li>
                                                    <li>Ability to work independently and in a team</li>
                                                    <li>Ability to operate a computer running a modern graphical operating system (Mac OSX, Ubuntu)</li>                                                </ul>
                                                </ul>
                                                <h4>Preferred</h4>
                                                <ul>
                                                    <li>Proficiency with spreadsheet software (e.g. Excel, Open Office).</li>
                                                </ul>
                                                <h4>Bonus</h4>
                                                <ul>
                                                    <li>Experience or interest in scientific computing and/or text mining.</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>To apply:</td>
                                            <td>
                                                <ol>
                                                    <li>Visit <a href="https://students.asu.edu/employment/search" target="_blank">https://students.asu.edu/employment/search</a></li>
                                                    <li>Click on "Search On-Campus Jobs"</li>
                                                    <li>Click on "Search for Openings"</li>
                                                    <li>Search for requisition ID <strong>17231BR</strong></li>
                                                    <li>Follow the instructions listed</li>
                                                </ol>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
