---
layout: default
title: Our Team
section_id: people
---


<div class='full'>
  <div class="row">
    <div class="large-12 columns">
      <a name='leadership'></a>

      {% include section-header.html title="Our leadership" %}

      <div class="spacing"></div>
    </div>
  </div>

  <!-- Header -->

  <div id="main-wrapper">
    <div class="container">
      <div class="row">


        <div>
          <div class='modTeamMember'>
            {% for item in site.data.leadership %}
            <div class='member'>
              <img alt="" src="{{ item.img }}" />
            
              <header class="headspace centered-text">
                <h4 style="color: var(--headings); font-size: 16px;">{{ item.name }}</h4>
                <a href="{{ item.link }}" target="_blank" class="reverse-underline">
                  <p style="color: var(--primary-color)" ;>{{ item.designation }}</p>
                </a>
              </header>

              <p style="text-align: left; padding: 15px;">{{ item.description }}</p>
              <div class='two spacing'></div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>

      <!-- <div class='spacing'></div> -->

      <section class="container">
        <div class="row">
          <div class='medium-6 columns'>
            <section class="first">

              <div class="mod modSectionHeader ">
                {% for item in site.data.members %}
                <div class="special-title centered-text separateline">
                  <a name='developers'></a>
                  <h2 class="separate" style="font-size: x-large; color: var(--headings) ;">{{ item.group }}</h2>
                </div>

              </div>

              <p>{{ item.description }} </p>

              <div class='spacing'></div>

              <div class="row" style="text-align: center;">

                <div class='medium-6 columns'>
                  <section class="box">
                    <img class="featured border" width="200px" src="{{ item.member.img }}" />
                    <header class="headspace">
                      <h4 class="member-name">{{ item.member.name }}</h4>
                    </header>
                  </section>
                </div>
              </div>                
            </section>
          </div>
        </div>

      </div>
  </div>
</div>

{% include map.html %}
<div class='two spacing'></div>

{% include alumni.html %}
<div class='two spacing'></div>