<div class='full'>
  <div class="row">
    <div class="large-12 columns">

      <div class="mod modSectionHeader ">
        <div class="special-title centered-text separateline">
          <a name="alumni"></a>
          <h2 class="separate" style="color:;">Alumni</h2>
          </div>
        </div>

      <div class="spacing"></div>

      <div class="row">

        <div class='large-6 medium-6 columns'>
          <dl>
			<dt>  Aakash Kumar</dt><dd> Adobe</dd>
			<dt>  Abhijith Krishnan Radhakrishna Kurup</dt><dd>Systems Engineering Manager at Walmart</dd>
			<dt>  Abhishek Gupta</dt><dd><pre>  </pre></dd>
			<dt>  Abhishek Kumar</dt><dd><pre>  </pre></dd>
			<dt>  Abhishek Singh</dt><dd> Q-Sensei Corp.</dd>
			<dt>  Adhvik Madhav Yeleswarapu</dt><dd> Walmart</dd>
			<dt>  Akhil Reddy Katpally</dt><dd><pre> </pre></dd>
			<dt>  Ashmi Chheda </dt><dd> ESRI </dd>
			<dt>  Ashwin Prabhu Verleker</dt><dd> Software Engineer at Microsoft</dd>
      		<dt>  Audrey Varaidzo Mutswiri</dt><dd> Developer Engineer at GE HealthCare</dd>
			<dt>  Bailey Reynolds</dt><dd> MBA Student at Arizona State University</dd>
			<dt>  Baishali Nayak</dt><dd><pre> </pre></dd>
			<dt>  Bhargav Desai</dt><dd> Software Development Engineer at Amazon</dd>
			<dt>  Bianca Zietal</dt><dd> Researcher (Alumna)</dd>
			<dt>  Chandana Tarur Veerabhadraiah</dt><dd> Software Engineer at Allstate</dd>
			<dt>  Chetan Ambi</dt><dd> Software Engineer II at eBay</dd>
			<dt>  Chiraag Subramanian</dt><dd><pre>  </pre></dd>
			<dt>  Deryc Painter</dt><dd> Assistant Research Professor at Arizona State University</dd>
			<dt>  Dirk Wintergrün</dt><dd> Max Planck Institute for the History of Science</dd>
			<dt>  Dwaraka Lohith</dt><dd> Software Development Engineer at GoDaddy</dd>
			<dt>  Eldo Jacob Matthews</dt><dd> Software Engineer at Amazon</dd>
			<dt>  Erick Peirson</dt><dd> Research Associate</dd>
			<dt>  Erin Bottino</dt><dd> Master's Studet in Library and Information Science at San Jose State University</dd>
			<dt>  Genevieve Pirotte</dt><dd><pre>  </pre></dd>
			<dt>  Ian Lobo<dt><dd><dd> Master's Student at Arizona State University</dd>
			<dt>  Jitesh Kamble</dt><dd><pre>  </pre></dd>
			<dt>  Karan Kothari</dt><dd> Software Development Engineer at Amazon</dd>
			<dt>  Karthikeyan Mohan</dt><dd>SAP</dd>
			<dt>  Keerthivasan Krishnamurthy</dt><dd><pre>  </pre></dd>
			<dt>  Ken Aiello</dt><dd> PhD Student at Arizona State University</dd>
			<dt>  Kiran Batna</dt><dd>Software Development Engineer in Test, Data at OpenX </dd>
			<dt>  Matthew Nunez</dt><dd>Medical Student at School of Medicine, Georgetown University</dd>
			<dt>  Megan Bromley<dt><dd> PhD Student in Geographical Sciences at Arizona State University</dd>
			<dt>  Mihika Shah</dt><dd><pre>  </pre></dd>
      		<dt>  Namratha Olety Venkatesh</dt><dd><pre>  </pre></dd>

          </dl>
        </div>

        <div class='large-6 medium-6 columns'>
          <dl>
      		<dt>  Narmada Ravali Namburi</dt><dd> Software Engineer at Zoom</dd>
			<dt>  Navaneesh Kumar Bajakudlu</dt><dd>Visa</dd>
			<dt>  Nayely Velez-Cruz</dt><dd><pre>  </pre></dd>
			<dt>  Neehaarika Dasari</dt><dd> Mid-Senior Software Engineer at MX</dd>
			<dt>  Nischal Samji</dt><dd><pre>  </pre></dd>
     		<dt>  Pooja Kulkarni</dt><dd><pre>  </pre></dd>
			<dt>  Prachi Kharge</dt><dd> </dd>
			<dt>  Prajakta Samant</dt><dd> Software Developer Engineer at Microsoft</dd>
			<dt>  Prashant Jadhav</dt><dd> PayPal</dd>
			<dt>  Pratik Giri</dt><dd> </dd>
			<dt>  Pranav Sharan</dt><dd> Software Developer</dd>
			<dt>  Raghav Kukreja</dt><dd> Software Developer Engineer at AWS</dd>
			<dt>  Radhika Nyati</dt><dd> WePay</dd>
			<dt>  Ramki Subramanian</dt><dd> Senior Software Engineer at Echostar Corporation</dd>
			<dt>  Ram Kumar Kumaresan</dt><dd> Software Engineer at PayPal</dd>
			<dt>  Renil Joseph</dt><dd><dd> Software Development Engineer at Amazon</dd>
			<dt>  Rohit Pendbhaje</dt><dd> Software Developer at Capgemini</dd>
			<dt>  Ryan Cheney</dt><dd><pre>  </pre></dd>
			<dt>  Sagar Khar</dt><dd> Amazon</dd>
			<dt>  Samantha Hauserman</dt><dd> Master's Student at University of Arizona</dd>
			<dt>  Sanjana Vasudevan</dt><dd> Software Developer</d>
			<dt>  SatyaSwaroop Boddu</dt><dd> Software Engineer at EPIC Systems</dd>
			<dt>  Sayalee Mehendale</dt><dd> Software Engineer at Cisco Systems</dd>
			<dt>  Sayali Suryakant</dt><dd><pre>  </pre></dd>
			<dt>  Sola Kim</dt><dd></dd>
			<dt>  David Costello</dt><dd></dd>
			<dt>  Srihari Ravi</dt><dd><pre>  </pre></dd>
			<dt>  Sreechandra Allala</dt><dd><pre>  </pre></dd>
			<dt>  Simbarashe Sithole<dt><dd> PhD Student in Computer Science at University of Nevada</dd>
			<dt>  Smit Dharmeshkur Shah</dt><dd> Software Developer (Alumna)</dd>
			<dt>  Sowjanya Ambati</dt><dd> Software Engineer at Intuit</dd>
			<dt>  Supraj Kolluri</dt><dd>Amazon</dd>
			<dt>  Susmitha Kistamsetty</dt><dd> Software Development Engineer at Amazon</dd>
			<dt>  Swetalina Prusty</dt><dd></dd>
			<dt>  Taylor Quinn</dt><dd><pre>  </pre></dd>
			<dt>  Tushar Jain</dt><dd><dd> Software Engineer at Amazon</dd>
			<dt>  Tushar Anand</dt><dd><dd> Software Engineer Intern at Proctorio</dd>
			<dt>  Veena Borannagowda</dt><dd> Software Developer (Alumna)</dd>
			<dt>  Viraaj Navalekar</dt><dd>Software Engineer at Facebook </dd>
			<dt>  Vishnu Saniko</dt><dd><pre>  </pre></dd>
			<dt>  Yogananda Kishore Yalugoti</dt><dd> Amazon</dd>
      		<dt>  Yuva Venkata Sai Priyanka Kurakula</dt><dd><pre>  </pre></dd>
			<dt>  Zachary Rudebeck</dt><dd><pre>  </pre></dd>
          </dl>
         </div>

      </div>

    </div>
  </div>

</div>
