
<div class='full' style='background: #F7F7F4; padding-top: 0px;'>
  <div class="row">
    <div class="large-12 columns">

      <div class="mod modSectionHeader ">
        <div class="special-title centered-text separateline">
          <a name="alumni"></a>
          <h2 class="separate" style="color: ;">Alumni</h2>
          </div>
        </div>

      <div class="spacing"></div>

      <div class="row">

        <div class='large-6 medium-6 columns'>
          <dl>
            <dt>Karthikeyan Mohan-</dt><dd>SAP</dd>
            <dt>Sanjana Vasudevan-</dt><dd> Software Developer</dd>
            <dt>Supraj Kolluri-</dt><dd>Amazon</dd>
            <dt>Ramki Subramanian-</dt><dd> Senior Software Engineer at Echostar Corporation</dd>
            <dt> Viraaj Navalekar-</dt><dd>Software Engineer at Facebook </dd>
            <dt>  Karan Kothari-</dt><dd> Software Development Engineer at Amazon</dd>
            <dt> Sowjanya Ambati- </dt><dd> Software Developer (Alumna)</dd>
            <dt>  Chetan Ambi-</dt><dd> Software Engineer II at eBay</dd>
            <dt> SBianca Zietal- </dt><dd> Researcher (Alumna)</dd>
            <dt> Ken Aiello- </dt><dd> PhD Student at Arizona State University</dd>
            <dt> Dwaraka Lohith- </dt><dd> Software Development Engineer at GoDaddy</dd>
            <dt> SatyaSwaroop Boddu- </dt><dd> Software Engineer at EPIC Systems</dd>
            <dt> Bhargav Desai- </dt><dd> Software Development Engineer at Amazon</dd>
            <dt>  Samantha Hauserman-</dt><dd> Masters Student at University of Arizona</dd>
            <dt>  Rohit Pendbhaje-</dt><dd> Software Developer at Capgemini</dd>
            <dt>  Prajakta Samant-</dt><dd> Software Developer Engineer at Microsoft</dd>
            <dt>  Ram Kumar Kumaresan-</dt><dd> Software Engineer at PayPal</dd>
            <dt> Yogananda Kishore Yalugoti- </dt><dd> Amazon</dd>
            <dt>  Simbarashe Sithole</dt><dd><pre>  </pre></dd>
            <dt>  Abhishek Kumar</dt><dd><pre>  </pre></dd>
            <dt>  Eldo Jacob Matthews</dt><dd><pre>  </pre></dd>
            <dt>  Raghav Kukreja</dt><dd><pre>  </pre></dd>
          </dl>
        </div>

        <div class='large-6 medium-6 columns'>
          <dl>

            <dt>  Abhishek Singh-</dt><dd> Q-Sensei Corp.</dd>
            <dt>  Erick Peirson-</dt><dd> Research Associate</dd>
            <dt>  Pranav Sharan- </dt><dd> Software Developer</dd>
            <dt>  Kiran Batna-</dt><dd>Software Development Engineer in Test, Data at OpenX </dd>
            <dt>  Veena Borannagowda-</dt><dd> Software Developer (Alumna)</dd>
            <dt> Ashwin Prabhu Verleker- </dt><dd> Software Engineer at Microsoft</dd>
            <dt>  Sayalee Mehendale-</dt><dd> Software Engineer at Cisco Systems</dd>
            <dt>  Genevieve Pirotte</dt><dd><pre>  </pre></dd>
            <dt> Nischal Samji</dt><dd><pre>  </pre></dd>
            <dt>  Nayely Velez-Cruz</dt><dd><pre>  </pre></dd>
            <dt>  Tushar Jain</dt><dd><pre>  </pre></dd>
            <dt>  Sushmita Kistamsetty</dt><dd><pre>  </pre></dd>
            <dt>  Jitesh Kamble</dt><dd><pre>  </pre></dd>
            <dt>  Chiraag Subramanian</dt><dd><pre>  </pre></dd>
            <dt>  Abhijith Krishnan Radhakrishna Kurup</dt><dd><pre>  </pre></dd>
            <dt>  Mihika Shah</dt><dd><pre>  </pre></dd>
            <dt>  Erin Bottino</dt><dd><pre>  </pre></dd>
            <dt>  Deryc Painter</dt><dd><pre>  </pre></dd>
            <dt>  Bailey Reynolds</dt><dd><pre>  </pre></dd>
            <dt>  Abhishek Gupta</dt><dd><pre>  </pre></dd>
            <dt>  Renil Joseph</dt><dd><pre>  </pre></dd>
          </dl>
          </div>

      </div>

    </div>
  </div>

</div>


  <!--{% for member in site.data.alumni %}
  <p class='centered-text' style="margin-bottom: -0.2rem">{{member.name}}, {{member.position}}, {{member.desc}}</p>
  {% endfor %}-->
