<div id ="asu_hdr">
  <div id = "asu_nav_menu" role ="navigation">

  <div id ="asu_universal_nav">

    <a href= "https://www.asu.edu" target="_blank"><img  width="160px" src="/images/asu_university_full_maroon.png"/></a>

    <ul class="example">
      <li>
      {% for item in site.data.asu_navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      {% endfor %}

    </li>
    <li>
      <i class="fa fa-adjust" style="font-size: 25px !important"></i>
    </li>
    </ul>
  </div>
</div>
</div>
