<!-- Footer -->
	<div id="footer-wrapper">
		<section id="footer" class="container">
			<div class="row">
				<div class="6u 12u(mobile)">
					<section>
						<div class="fb-page" data-href="https://www.facebook.com/digitalhps" data-width="500" data-height="700" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/digitalhps"><a href="https://www.facebook.com/digitalhps">ASU Digital Innovation Group</a></blockquote></div></div>
						<!-- <header>
							<h2>Blandit nisl adipiscing</h2>
						</header>
						<ul class="dates">
							<li>
								<span class="date">Jan <strong>27</strong></span>
								<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
								<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
							</li>
							<li>
								<span class="date">Jan <strong>23</strong></span>
								<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
								<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
							</li>
							<li>
								<span class="date">Jan <strong>15</strong></span>
								<h3><a href="#">Magna tempus lorem feugiat</a></h3>
								<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
							</li>
							<li>
								<span class="date">Jan <strong>12</strong></span>
								<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
								<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
							</li>
							<li>
								<span class="date">Jan <strong>10</strong></span>
								<h3><a href="#">Blandit tempus aliquam?</a></h3>
								<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
							</li>
						</ul> -->
					</section>
				</div>
				<div class="6u 12u(mobile)">
					<section>
						<header>
							<h2>What's this all about?</h2>
						</header>
						<a href="#" class="image featured"><img src="/images/groupOdd.jpg" alt="" /></a>
						<p>
							The Digital Innovation Group brings together students from the computer science and the history and philosophy of science to create new and innovative tools, infrastructure, and methods for computational HPS research and training.
						</p>
						<p>
							The <strong>mission</strong> of the Digital Innovation Group is to develop new tools to support HPS researchers in processing and analyzing their data, to contribute to the development of a computational research system for history and philosophy of science, and to create new educational resources, opportunities, and experiences for students in computer science and the history and philosophy of science.
						</p>
						<p>
							We are supported with an open-source license for <a href="https://www.atlassian.com/software/jira"><img style="vertical-align:middle; margin-bottom: 10px;" width="80px" src="/images/jira-white.png"></a> by <a href="https://www.atlassian.com/">Atlassian</a>.
						</p>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="6u 12u(mobile)">
					<section>
						<header>
							<h2>Our Partners</h2>
						</header>
						<ul class="divided">
							<li><a href="http://devo-evo.lab.asu.edu">Laubichler Lab @ ASU</a></li>
							<li><a href="http://www.nexuslab.org/">IHR Nexus Lab</a></li>
							<li><a href="http://digitalhps.org/">Digital HPS Consortium</a></li>
							<li><a href="http://cbs.asu.edu/">Center for Biology and Society</a></li>
						</ul>
					</section>
				</div>
				<div class="6u 12u(mobile)">
					<section>
						<header>
							<h2>We're Social</h2>
						</header>
						<ul class="social">
							<li><a class="icon fa-facebook" href="https://www.facebook.com/digitalhps"><span class="label">Facebook</span></a></li>
							<li><a class="icon fa-twitter" href="https://twitter.com/asudiging"><span class="label">Twitter</span></a></li>
							<li><a class="icon fa-github" href="https://github.com/diging"><span class="label">GitHub</span></a></li>

						</ul>
						<ul class="contact">
							<li>
								<h3>Research</h3>
								<p><a href="mailto:erick.peirson@asu.edu">erick.peirson@asu.edu</a></p>
							</li>
							<li>
								<h3>Development</h3>
								<p><a href="mailto:jdamerow@asu.edu">jdamerow@asu.edu</a></p>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<!-- <div class="row">
				<div class="12u">


						<div id="copyright">
							<ul class="links">
								<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>
			</div> -->
		</section>
	</div>

</div>
