<!-- ASU Header-->
<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h2 >
          <a href='{{site.url}}/index.html' style="font-size: 88%;" class ='f_adapt'>
            <img id="diging-logo" width="130px" src="/images/DigInG logo_final-color.png"/>
          </a>
        </h2>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a class="icon" onclick="menuToggle()">Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        {% for item in site.data.nav %}
        {% if forloop.index>2 %}
          {% break %}
        {% endif %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
            <li class="{{active_class}}">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
            </li>
        {% endfor %}
        <li>
          <div class="ourWork">
            <a href="{{site.url}}/projects/index" class="dropbtn">OUR WORK</a>
            <div class="dropdown-content">
              <div class="dropdownList">
                {% for item in site.data.applications %}
                <a href="{{ site.url }}/{{ item.url }}" style="display: flex" class="drpLink">
                    <img style="width: 30px; height: 30px" src="/projects/{{ item.image-color }}">
                    <div style="margin: 0px 0px 0px 10px">
                        <h4 class="drpH">{{ item.name }}</h4>
                        <p class="drpP">{{ item.description }}</p>
                    </div>
                </a>
                {% endfor %}
              </div>

              <div class="dropdownList">
                {% for item in site.data.tools %}
                  <a class="drpLink" href="{{ item.url }}" target="_blank">
                    <h4 class="drpH">{{ item.name }}</h4>
                    <p class="drpP">{{ item.desc }}</p>
                  </a>
                {% endfor %}
              </div>

              <div style="width: 250px; padding: 20px;">
                {% for item in site.data.projects %}
                <a class="drpLink" href="{{ item.url }}" target="_blank">
                  <h4 class="drpH">{{ item.name }}</h4>
                  <p class="drpP">{{ item.desc }}</p>
                </a>
                {% endfor %}
                <a href="{{site.url}}/projects/index" class="read-more">View all<i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </li>
        {% for item in site.data.nav %}
        {% if forloop.index>2 %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
            <li class="{{active_class}}">
              <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
            </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>

<div id="myLinks" style="display: none;">
  <div class="menu-link">
    {% for item in site.data.nav %}
    {% if item.section_id == page.section_id %}
      {% assign active_class = "active" %}
    {% else %}
      {% assign active_class = "" %}
    {% endif %}
        <a style="margin-bottom: 10px;" href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
    {% endfor %}
  </div>
</div>


<script>
  var Theme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

  if (Theme === 'dark') {
    $("#diging-logo").attr('src',"/images/DigInG logo_final-white.png");      
  }

  function menuToggle() {
    if ($("#myLinks").css('display')==='block') {
      $("#myLinks").css('display', 'none');
    } 
    else {
      $("#myLinks").css('display', 'block');
    }
  }
</script>