<!-- Intro -->
	<section id="intro" class="container">
		<div class="row">
			<div class="4u 12u(mobile)">
				<section class="first">
					<a href="/people/" class="reverse-underline">
						<i class="icon featured alt fa-users"></i>
						<header>
							<h2>Who We Are</h2>
						</header>
					</a>
					<p>DigInG is a group of talented students and early-career professionals at Arizona State University.</p>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<a href="#">
				<section class="middle">
					<a href="/projects/" class="reverse-underline">
						<i class="icon featured fa-cog"></i>
						<header>
							<h2>What We Do</h2>
						</header>
					</a>
					<p>Our wide range of web and desktop applications enable novel approaches to humanities research.</p>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<section class="last">
					<a href="/opportunities/" class="reverse-underline">
						<i class="icon featured alt2 fa-star"></i>
						<header>
							<h2>Get Involved</h2>
						</header>
					</a>
					<p>Learn more about our workshops, and check out opportunities to join our research and development teams.</p>
				</section>
			</div>
		</div>
		<!-- <footer>
			<ul class="actions">
				<li><a href="#" class="button big">Get Started</a></li>
				<li><a href="#" class="button alt big">Learn More</a></li>
			</ul>
		</footer> -->
	</section>
