<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

  <style>
    #mapid {
      height: 480px;
    }
  </style>

</head>

<body>
  <div class='full'>
    <div class="row">
      <div class="large-12 columns">

        <div class="mod modSectionHeader ">
          <div class="special-title centered-text separateline">
            <a name="alumni"></a>
            <h2 class="separate">Where we are from</h2>
          </div>

          <div id="mapid"></div>


        </div>

        <div class="spacing"></div>

      </div>
    </div>

  </div>
</body>

</html>

<script>
  var map = L.map('mapid').setView([35.735456, 4.40495], 2);

  L.tileLayer(
    'https://api.mapbox.com/styles/v1/diginggroup/ck36f392i03rl1cmqrzgiczhx/tiles/256/{z}/{x}/{y}@2x?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.pirates',
    accessToken: 'pk.eyJ1IjoiZGlnaW5nZ3JvdXAiLCJhIjoiY2syemJxNjlrMGg4bTNubzg0b254bW9tbCJ9.MgjW6NsPmtafhhs9wofDBA'
  }).addTo(map);

  let labMembers = [
	["Julia Damerow, Dirk Wintergrün", 52.52, 13.40495],
	["Manfred Laubichler", 47.8095, 13.0550],
  ["Julian Ophals", 40.70588114995843, -73.30649648598768],
  ["Baishali Nayak", 22.597957618697485, 88.40196379725391],
  ["Ajay Yadav", 23.180182, 77.417493],
  ["Aditya Goyal", 24.7833901, 84.9470612],
  ["Diya Anna Biju", 12.945764, 80.184131],
  ["Shivani Yerram", 17.402980417880777, 78.43624022680976],
  ["Namita Shah", 33.297139, -111.935985]
  ];

  let alumni = [
  ["Sudheera Daggumalli", 15.9129, 79.7400],
  ["David Costello", 39.063900, -108.550600],
  ["Vishnu Saniko", 15.404126, 79.508372],
  ["Prachi Kharge", 19.219300, 72.962300],
  ["Sola Kim", 37.46356, 126.95073],
  ["Pratik Giri", 19.039209663656663, 73.02191829766114],
  ["Swetalina Prusty", 20.8522697, 86.33857138888888],
  ["Sreechandra Reddy Allala", 17.394609064582163, 78.47120484497006],
  ["Pradeep Kumar Chenchala", 21.1458, 79.0882],
  ["Glen Dsouza", 12.9141, 74.8560],
	["Charishma Boddu", 17.50564, 78.33937],
  ["Maulik Limbadiya", 22.7251, 71.637],
	["Avirup Biswas", 22.5726, 88.3639],
  ["Taylor Quinn", 42.36008, -71.05888],
  ["Pooja Kulkarni", 19.218398008673375, 72.8289117114724],
  ["Narmada Ravali Namburi", 17.543360 ,80.618698],
  ["Yuva V.S.P Kurakula", 16.50617, 80.64801],
	["Campbell Spurlin", 39.7392, -104.9903],
	["Aakash Kumar", 17.385576, 78.473814],
	["Sagar Khar", 32.7266, 74.8570],
	["Prashant Jadhav", 18.5204, 73.8567],
	["Radhika Nyati", 25.21381, 75.86475],
	["Adhvik M. Yeleswarapu", 28.45949, 77.02663],
	["Keerthivasan Krishnamurthy", 11.66432, 78.14601],
  ["Tushar Anand", 24.48807380038075, 86.68088410337648],
	["Ryan Cheney", 33.35282, -111.78902],
	["Sumukha Radhakrishnam, Namratha O. Venkatesh", 12.97159, 77.59456],
	["Matt Nunez", 33.42551, -111.94],
	["Pranav Sharan", 22.3072, 73.1812],
	["Nischal Samji", 14.4673, 78.8242],
	["Erick Peirson", 47.7511, -120.7401],
	["Ian Lobo", 29.37585, 47.9774],
	["Yogananda Kishore, Supraj Kolluri", 17.3850, 78.4867],
	["Neeharika Dasari", 17.38504, 78.48667],
	["Ashmi Chheda", 19.07598, 72.87765],
	["Navaneesh K. Bajakudlu", 12.508, 74.98821],
	["Keerthivasan Krishnamurthy", 11.66432, 78.14601],
	["Yuva V.S.P Kurakula", 16.50617, 80.64801],
	["Radhika Nyati", 25.21381, 75.86475],
	["Prashant Jadhav", 18.5204, 73.8567],
	["Sagar Khar", 32.7266, 74.8570],
	["Aakash Kumar", 17.385576, 78.473814],
	["Navaneesh K. Bajakudlu", 12.508, 74.98821],
	["Audrey Varaidzo Mutswiri", -18.188231 , 31.546070],
	["Sayali Suryakant",18.5204, 73.8567],
	["Srihari Ravi", 10.818790, 78.289703],
	["Smit Shah", 22.414709, 71.291367],
	["Ashmi Chheda", 19.07598, 72.87765]
  ];


  let formerStudents = [
    ["Vineel Vutukuri", 16.5062, 80.6480],
    ["Tamalika Mukherjee", 22.5726, 88.3639]
  ];

  let redIcon = new L.icon({
    iconUrl: '/images/icons/marker-icon-2x-red.png',
    iconSize: [25, 41],
    iconAnchor: [12, 40],
    popupAnchor: [-3, -76],
    shadowUrl: '/images/icons/marker-shadow.png',
    shadowSize: [55, 41],
    shadowAnchor: [16, 40]
  });

  let goldIcon = new L.icon({
    iconUrl: '/images/icons/marker-icon-2x-gold.png',
    iconSize: [25, 41],
    iconAnchor: [12, 40],
    popupAnchor: [-3, -76],
    shadowUrl: '/images/icons/marker-shadow.png',
    shadowSize: [55, 41],
    shadowAnchor: [16, 40]
  });



  function formerStudentsMarkers(){
    var memberMarkers = [];
    for (var i = 0; i < formerStudents.length; i++) {
      marker = L.marker([formerStudents[i][1], formerStudents[i][2]])
        .bindPopup(formerStudents[i][0])
        memberMarkers.push(marker)
    }
    return memberMarkers;
  }

  function labMemberMarkers(){
    var memberMarkers = [];
    for (var i = 0; i < labMembers.length; i++) {
      marker = L.marker([labMembers[i][1], labMembers[i][2]],{
      icon: redIcon
      })
        .bindPopup(labMembers[i][0])
        memberMarkers.push(marker)
    }
    return memberMarkers
  }

  function alumniMarkers(){
    var memberMarkers = [];
    for (var i = 0; i < alumni.length; i++) {

      marker = L.marker([alumni[i][1], alumni[i][2]],{
      icon: goldIcon
      })
        .bindPopup(alumni[i][0])
        memberMarkers.push(marker)
    }
    return memberMarkers;
  }

  function allMarkers(){
	  return [].concat(alumniMarkers(),labMemberMarkers(),formerStudentsMarkers())
  }

  var allMarkersLayer = new L.layerGroup(allMarkers())
  map.addLayer(allMarkersLayer)
  let currentLayer = allMarkersLayer


  window.onload = function setup(){
    filterMarkers()
  }



  function getColor(d) {
    return d > 2 ? '#800026' :
      d > 1.5 ? '#BD0026' :
        d > 1.2 ? '#E31A1C' :
          d > 1.1 ? '#FC4E2A' :
            d > 1.5 ? '#FD8D3C' :
              d > 1.2 ? '#FEB24C' :
                d > 1.1 ? '#FED976' :
                  '#FFEDA0';
  }

  var legend = L.control({position: 'topright'});
  legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend');
    div.innerHTML = '<select onChange="filterMarkers()" id="filterSelect"><option>No Filter</option><option>Current DigInG Members</option><option>Alumni Members</option><option>Former Students of DigInG courses</option></select>';
    div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;

    return div;
  }

  function filterMarkers() {
  	var select = document.getElementById("filterSelect");
  	switch(select.options[select.selectedIndex].value){
  		case "Current DigInG Members":
        if(currentLayer){
          map.removeLayer(currentLayer)
        }
        var currentMembersLayer = new L.layerGroup(labMemberMarkers());
          map.addLayer(currentMembersLayer)
          currentLayer = currentMembersLayer
          break;
  		case "Alumni Members":
        if(currentLayer){
          map.removeLayer(currentLayer)
        }

        var alumniMarkersLayer = new L.layerGroup(alumniMarkers())

          map.addLayer(alumniMarkersLayer)
          currentLayer = alumniMarkersLayer
          break;
  		case "Former Students of DigInG courses":
        if(currentLayer){
          map.removeLayer(currentLayer)
        }
        var formerStudentsMarkersLayer = new L.layerGroup(formerStudentsMarkers())
        map.addLayer(formerStudentsMarkersLayer)
        currentLayer = formerStudentsMarkersLayer
          break;
  		case "No Filter":
        if (currentLayer){
          map.removeLayer(currentLayer)
        }
        var allMarkersLayer = new L.layerGroup(allMarkers())

        map.addLayer(allMarkersLayer)
        currentLayer = allMarkersLayer
        break;
  		default:
        if (currentLayer){
          map.removeLayer(currentLayer)
        }
  	}

  }

// function filterMarkers() {
//   	var select = document.getElementById("filterSelect");

//   	for (var i = 0; i< alumni.length; i++) {
//   		map.removeLayer(alumni[i]);
//   	}
//   }


legend.addTo(map);

  var legend = L.control({
    position: 'bottomleft'
  });

  legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend'),
      labels = [];

    labels.push(
      '<span style="background:' + "#c92539" + '">Current DigInG Members</span> ');

    labels.push(
      '<span style="background:' + "#ffd326" + '">Alumni Members</span> ');

    labels.push(
      '<span style="background:' + "#2780c9" + '">Former Students of DigInG courses</span> ');

    div.innerHTML = labels.join('<br>');
    return div;
  };






  legend.addTo(map);

  $("#all").click(function() {
    map.removeLayer(alumni);
  })
</script>
