---
layout: blog
title: Our Posts
section_id: blog
---


{% for post in paginator.posts %}
  <div class='big mod modBlogPost' style="min-height: 380px;">

    <div class='content'>
      <h4><a href="{{post.url}}">{{post.title}}</a></h4>
      <p class='info'><span>{{post.date | date: "%B %d, %Y" }}</span> </p>
      {% for image in post.images %}
      <div id="post-display">
        <img style="max-height: 250px; width: auto; padding:0 30px 30px 0;" alt="" src="{{site.url}}/{{image}}" />
        <div>
          <p>{{post.excerpt}}</p>
          <div class='spacing'></div>
          <a class="button small" style="margin: 0" href="{{post.url}}">Read more</a>
        </div>
      </div>{% endfor %}
    </div>
  </div>
{% endfor %}

<!--/
<span>
  by {{post.author}}
</span> -->
