---
layout: default
title: Memorandum of Understanding
section_id: mou
---

<div class='full'>
  <div class='row'>
	    <div class='large-12 columns'>
	      {% include section-header.html title="Memorandum of Understanding" %}
	      <div class='spacing'></div>
	    </div>
	    <div style="text-align: right">
	    	<a href="/doc/DigInG-MoU-2020.pdf" download><button style="border-radius: 5px;"><i class="fa fa-download"></i> Download file</button></a>
	    </div>
	    {{ content }}
  </div>
</div>