---
layout: blog
section_id: blog
---


<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          /
          <span>
            by {{page.author}}
          </span>
          /
        </p>
        <h3>{{page.title}}</h3>

          {% for image in page.images %}
            <img align="left" class='image' alt="" src="{{site.url}}/{{image}}" />
          {% endfor %}
          {{ content }}
      </div>
    </div>
    <div class='two spacing'></div>
  </div>
</div>
